..Rcheck
.kdev4
.vscode
autom4te.cache
autotools_build
build
scorep*
capture.syscap
heaptrack*
vgcore*
valgrind*
tmp
release
m4
ar-lib
aclocal.m4
autoscan.log
*.o
*.so
*.pdf
*.Po
*.svg
*.png
*.csv
*.bak
*.rds
*.history
.RData
.Rhistory
*.code-workspace
man/*
normInfectX_1.2/*
build/*
.vscode/
ltmain.sh
output.txt
minimal.supp
x.mtx
config.*
configure.scan
*.a
*.gcda
*.dat
src/.deps*
simulated_data
small_x2_correct_beta
run/*
testing_stuff/
libtool
lto_pgo
.buildconfig
config/*
*test_*
*_test*
