*
!*.*


..Rcheck
.kdev4
.vscode
autom4te.cache
autotools_build
build
scorep*
capture.syscap
heaptrack*
vgcore*
valgrind*
tmp
release
m4
ar-lib
aclocal.m4
autoscan.log
*.o
*.so
*test*
*.pdf
*.Po
*.svg
*.png
*.csv
*.bak
*.rds
*.history
.RData
.Rhistory
*.code-workspace
